@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500&family=Open+Sans:wght@400;500;600;700;800&family=Orbitron:wght@400;500&family=Outfit:wght@200;400;700&family=Playfair+Display:wght@400;500;600&family=Poppins:wght@200;300;400;500;600&family=Raleway:ital,wght@0,200;0,300;0,400;0,600;0,800;0,900;1,700&family=Roboto:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-clr: #3F418D;
    --light-body: #FFFFFF;
    --light-box: #F9EDED;
    --dark-body: #404040;
    --dark-box: #292929;
    --quote-icon-clr: #cbcbcb;
    --twitter-icon-clr: aqua;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-body);
    transition: all .2s linear;
}

.fa-quote-left {
    position: absolute;
    font-size: 4rem;
    color: var(--quote-icon-clr);
    left: 1.5rem;
    top: 3.4rem;
}

.box {
    position: relative;
    width: 40rem;
    min-height: 26rem;
    background-color: var(--light-box);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0px 0px 22px 2px #000000a1;
    transition: all .2s linear;
}

.twitter {
    height: 3rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1.5rem;
    column-gap: 2rem;
}

.fa-twitter {
    color: white;
    font-size: 1.11rem;
    padding: 0.45rem;
    background-color: var(--twitter-icon-clr);
    border-radius: 30px;
    cursor: pointer;
    transition: all linear .21s;
}

.fa-twitter:hover {
    background-color: white;
    color: var(--twitter-icon-clr);
}

#copyBtn {
    font-size: 1.31rem;
    background: transparent;
    outline: 0;
    border: 0;
    cursor: pointer;
}

#copyBtn:active {
    transform: translate(-1px, 1px);
}

.tooltip {
    position: absolute;
    right: 0rem;
    top: -3rem;
    padding: 0.4rem 2.75rem;
    background: var(--primary-clr);
    font-size: .8rem;
    font-family: 'Poppins';
    border-radius: 9px;
    color: white;
    letter-spacing: .2px;
    visibility: hidden;
}

.fa-twitter:active {
    color: black;
}

.mainQuote {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 1.5rem;
}

.quote {
    font-family: cursive;
    font-size: 1.5rem;
    background-color: transparent;
    outline: 0;
    border: 0;
    color: black;
}

.author {
    font-family: open sans;
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
    font-size: .96rem;
    color: #5e5e5e;
    font-weight: 600;
}

#btn {
    background-color: var(--primary-clr);
    color: white;
    padding: 0.92rem 0rem;
    border-end-start-radius: 10px;
    border-end-end-radius: 10px;
    font-family: Poppins;
    font-size: .92rem;
    font-weight: 500;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all linear .1s;
}

#btn:active {
    color: var(--primary-clr);
    background-color: var(--light-box);
}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Dark Mode  */

.darkModeContainer {
    padding: 2rem;
    /* background: antiquewhite; */
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: flex-end;
}

.darkModeBtn {
    background: var(--primary-clr);
    color: var(--light-box);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: all .4s linear;
}

.toggleBtn {
    background: var(--light-box);
    color: var(--primary-clr);
}

.darkModeBtn i {
    font-size: 22px;
}

/* >>>>>>>>>>>>>>>>>>>>>>> ENDS Dark Mode  */



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Media Queries  */

@media (max-width: 320px) {
    body {
        padding: 0rem 2rem;
    }

    .tooltip {
        top: -4rem;
    }

    .fa-quote-left {
        font-size: 2.1rem;
        top: 2.5rem;
    }

    .mainQuote {
        padding: 2.2rem 1.5rem;
    }
}

@media (min-width: 321px) and (max-width: 425px) {
    body {
        padding: 0rem 2rem;
    }

    .tooltip {
        top: -4rem;
    }

    .fa-quote-left {
        font-size: 3rem;
        top: 2rem;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    body {
        padding: 0rem 2rem;
    }

    .quote {
        margin: 2.5rem 0 0;
    }
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> ENDS Media Queries  */